In [1]:
import pandas as pd

# Load the Parquet file
df = pd.read_parquet('sales.parquet')

# Preview top 5 rows
df.head()

   id   product region  amount   sale_date
0   1  Widget A   EMEA    1200  2024-05-01
1   2  Widget B     NA     800  2024-05-02
2   3  Widget C   APAC    1500  2024-05-03

In [2]:
# Example: Group by region
df.groupby('region')['amount'].sum()

region
APAC    1500
EMEA    1200
NA       800
Name: amount, dtype: int64